.profile {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    width: 400px;
    background-color: green;
    padding: 30px;

    .avatar {
      width: 150px;
      border: solid 1px #fff;
      border-radius: 50%;
      background-color: #fff;
    }
    .name {
      font-weight: bolder;
      font-size: 20px;
    }
  }
  .stats {
    background-color: greenyellow;
    display: flex;
    justify-content: space-around;
    width: 460px;

    li {
      display: flex;
      flex-direction: column;
      padding: 30px;

      .quantity {
        font-weight: bold;
        padding: 5px;
      }
    }
  }
}
