.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: greenyellow;
  margin-left: 20px;
}

.avatar {
  margin: 0 20px;
}

.name {
  font-weight: bolder;
  font-size: 20px;
}
